{
  "presets": [["@vue/app", { "modules": false }]],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ],
    [
      "component",
      {
        "libraryName": "vue-ui-fix",
        "libDir": "lib/components",
        "style": "index.css"
      },
      "vue-ui-fix"
    ]
  ]
}
